<%= link_to 'Back', panels_path %>
<%= simple_form_for(@panel) do |f| %>
  <%#= f.submit %>

  <% if @panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
      <% @panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="page-header">
  <h2><%= best_in_place @panel, :name%> <small><%= best_in_place @panel, :description%></small></h2>
</div>
<div class="well well-sm">
  <%= content_tag :a, "+ Add widget", :href => "#widget", :class => 'btn btn-default btn-sm', :data => {:toggle => 'modal'} %>
  <%= modal_dialog :id => "widget",
         :header => { :show_close => true, :dismiss => 'modal', :title=>'New widget'},
         :body   => { :content => 'This is the body' },
         :footer => { :content => content_tag(:button, 'Save', :class => 'btn') } %>

  <button type="button" class="btn btn-default btn-sm">Email</button>
  <span style='cursor: pointer;'>
    <%= best_in_place @panel, :private, :type => :checkbox, :collection => t(:'domain.panel.private') %>
  </span>
  <div style='float:right;'>
<div class="dropdown" style='float: left;padding-right: 5px;'>
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Export
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PDF</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= panel_path(@panel)+'?layout=100&print=true'%>"><span class='glyphicon glyphicon-print'></span>  Print</a></li>
  </ul>
</div>
    <%= content_tag :a, "Layout", :href => "#layout", :class => 'btn btn-default btn-sm', :data => {:toggle => 'modal'} %>
    <%= modal_dialog :id => "layout",
         :header => { :show_close => true, :dismiss => 'modal', :title => 'Layout' },
         :body   => { :content => render(partial:'panels/layout', locals:{panel:@panel, f:f})},
         :footer => { :content => content_tag(:button, 'Save', :class => 'btn') } %>
    <%#= f.text_field :layout %>
    <%= link_to 'Destroy', @panel, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %>
  </div>
</div>
<% end %>
<div class="row">
  <% config_layout = (params[:layout]||@panel.layout).split(',')*@panel.widgets.size%>
  <% @panel.widgets.each_with_index do |wid, index|%>
    <%config = config_layout[index]%>
    <div class='col-xs-12 col-md-6' style='width:<%=config%>%'>
      <%=raw (render :partial => 'widgets/preview', :locals=> {widget: wid})%>
    </div>
  <%end%>
</div>
