<%= f.hidden_field :layout %>
<% domain('panel.layout').in_groups_of(3).each do |codon|%>
  <div class="btn-group btn-group-justified">
  <% codon.each do |layout| %>
    <div class="btn-group m">
      <button id='<%= layout.gsub(',', '_') %>' value='<%=layout%>' onclick="set_value('#<%=layout.gsub(',', '_')%>')" class="btn btn-default" style='padding: 0px;height: 100px;' type="button">
        <% layout.split(',').each do |part|%>
          <%= content_tag(:div, part.to_s+'%', class:"b op", style:"width:#{part}%;")%>
        <%end%>
      </button>
    </div>
  <%end%>
  </div><br>
<%end%>
<script>
$(document).ready(function() {
  $('#<%= panel.layout.gsub(',', '_')%>').addClass('focus');  
  //$('#66').removeClass('focus')
});
function set_value(el){
  el = $(el);
  $('#panel_layout').val(el.val());
  $('.new').removeClass('new');
  el.addClass('new');
}
</script>
<style>
.new{
  border: 2px solid #C0C0C0;
}
.focus{
  border: 2px solid red;
}
.m{
  padding-left: 10px
}
.op{
  border-right: 1px solid silver;
}
.b{
  float: left; 
  height: 100%; 
//  width: 50%; 
}
/*.option{
  height: 124px;
  margin: 2px; 
  border: 1px solid silver;
}
.op_btn{
  height: 100%;
  width: 100%;
  float:left;
}*/
</style>
