<p id="notice"><%= notice %></p>

<%= @panel.name %>
<%= @panel.description %>
<%= @panel.private %>
<%= @panel.layout %>

<%#= link_to 'Edit', edit_panel_path(@panel) %> |
<%#= link_to 'Back', panels_path %>
