<table class='table table-striped'>
  <tr>
    <th>Column</th>
    <th>Description</th>
    <th>Type</th>
    <th>Filtro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% f.columns.each do |column| %>
  <tr>
    <td><%= column.nme_termo %></td>
    <td><%= column.dsc_termo %></td>
    <td><%= column.tpo_objeto %></td>
    <td><%= column.sta_coluna_filtro %></td>
    <td><%#= link_to 'Show', column %></td>
    <td><%= link_to 'Edit', edit_column_path(column), :class=>'btn btn-default btn-xs' %></td>
    <td><%= link_to 'Destroy', column, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' %></td>
  </tr>
<% end %>
</table>
