<h1>Listing columns</h1>

<table>
  <tr>
    <th>Universe</th>
    <th>Tpo objeto</th>
    <th>Sta coluna filtro</th>
    <th>Sta obrigado</th>
    <th>Dsc sql valores</th>
    <th>Txt apresentacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @columns.each do |column| %>
  <tr>
    <td><%= column.universe_id %></td>
    <td><%= column.tpo_objeto %></td>
    <td><%= column.sta_coluna_filtro %></td>
    <td><%= column.sta_obrigado %></td>
    <td><%= column.dsc_sql_valores %></td>
    <td><%= column.txt_apresentacao %></td>
    <td><%= link_to 'Show', column %></td>
    <td><%= link_to 'Edit', edit_column_path(column) %></td>
    <td><%= link_to 'Destroy', column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Column', new_column_path %>
