<%= simple_form_for(@widget) do |f| %>
  <div class="page-header">
    <h2><%= best_in_place @widget, :title %><small> <%= best_in_place @widget, :subtitle %></small></h2>
  </div>

  <%= f.association :panel %>
  <%= f.association :universe %>
  <%#= f.input :title %>
  <%#= f.input :subtitle %>
  <%#= f.input :pattern %>
  <%= f.input :pattern, as: :select, collection: domain('widget.pattern') %>
  <%= f.submit %>

  <div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>

  <script>
    <%=raw (render :partial => 'widgets/preview', :formats=>[:js])%>
  </script>
<% end %>

<%= link_to 'Show', @widget %> |
<%= link_to 'Back', widgets_path %>
