<%= simple_form_for(@widget) do |f| %>
  <%= nav_menu do |m| %>
    <%= f.button :submit, class:"btn btn-primary active" %>
    <%= link_to 'Back', @widget, class:"btn btn-default" %>
  <%end%>
  <div class="page-header">
    <h2><%= best_in_place @widget, :title %><small> <%= best_in_place @widget, :subtitle %></small></h2>
  </div>
  
  <%= f.association :panel, disabled:true %>
  <%= f.association :universe, disabled:true %>
  <%= f.input :pattern, disabled:false, as: :select, collection: domain('widget.pattern') %>
  <%= f.input :d_cols, collection: @widget.columns.dim, as: :select, input_html: {multiple:'true', style:'width:300px', placeholder:'Dimension'} %>
  <%= f.input :m_cols, collection: @widget.columns.metric, as: :select, input_html: {multiple:'true', style:'width:300px', placeholder:'Metric'} %>

  <div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
<% end %>
<script>
$(document).ready(
  function() { 
    $("#widget_d_cols").select2();
    $("#widget_d_cols").select2('val', <%= raw @widget.d_cols.map(&:id)%>);
    $("#widget_m_cols").select2();
    $("#widget_m_cols").select2('val', <%= raw @widget.m_cols.map(&:id)%>);
  }
);
</script>
