<%= simple_form_for(@widget) do |f| %>
  <%= nav_menu do |m| %>
    <%= f.button :submit, class:"btn btn-primary active" %>
    <%= link_to 'Back', @widget, class:"btn btn-default" %>
  <%end%>
  <div class="page-header">
    <h2><%= best_in_place @widget, :title %><small> <%= best_in_place @widget, :subtitle %></small></h2>
  </div>
  
  <%= f.association :panel, disabled:true %>
  <%= f.association :universe, disabled:true %>
  <%#= f.input :title %>
  <%#= f.input :subtitle %>
  <%#= f.input :pattern %>
  <%= f.input :pattern, disabled:true, as: :select, collection: domain('widget.pattern') %>
  <label>Dimension</label>
  <%= select_tag :dimension_columns, options_from_collection_for_select(@widget.columns, :id, :nme_termo), multiple:true %> 
  <label>Metric</label>
  <%= select_tag :metric_columns, options_from_collection_for_select(@widget.columns, :id, :nme_termo), multiple:true %> 
  <%#= f.association :columns, id: :metric_cols, prompt: "Metric", label_method: :nme_termo, value_method: :id, multiple:true %>

  <div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
<% end %>
<script>
$(document).ready(
  function() { 
    $("#dimension_columns").select2();
    $("#metric_columns").select2();
  }
);
</script>
