<p id="notice"><%= notice %></p>

<%= simple_form_for(@widget) do |f| %>
  <%= nav_menu do |m| %>
    <%= link_to 'Edit', edit_widget_path(@widget), class:"btn btn-primary active" %>
    <%= link_to 'Back', widgets_path, class:"btn btn-default" %>
  <%end%>
  <div class="page-header">
    <%= link_to 'panel '+@widget.panel.name, @widget.panel %> |
    <%= link_to 'universe '+@widget.universe.name, @widget.universe %>|
  <%= content_tag :a, "SQL", :href => "#sql", :class => 'btn btn-default btn-sm', :data => {:toggle => 'modal'} %>
  <%= modal_dialog :id => "sql",
         :header => { :show_close => true, :dismiss => 'modal', :title=>'SQL loaded'},
         :body   => { :content => @widget.query },
         :footer => {} %>
  </div>
  <%#= f.input :pattern, :wrapper => :bs %>
  <%=raw (render :partial => 'widgets/preview', :locals=> {widget: @widget, div_id:'container'})%>
<% end %>
