<%= simple_form_for @universe, html:{ role:"form"} do |f| %>
<p id="notice"><%= notice %></p>
<%= nav_menu do |m| %>
  <%= link_to 'Edit', edit_universe_path(@universe), class:"btn btn-primary active", role:'button'%>
  <%= link_to 'Back', universes_path, type:"button", class:"btn btn-default" %>
<%end%>

<%= f.input :name, :wrapper => :bs %>
<%= f.input :description, wrapper:'bs' %>
<%= f.input :sql, wrapper:'bs' %></p>
<ul id='my_tab' class="nav nav-tabs" role="tablist">
  <li><a role="tab" href="#columns">Columns</a></li>
  <li><a role="tab" href="#widgets">Widgets</a></li>
  <li><a role="tab" href="#reports">Reports</a></li>
</ul>
<div id="my_tab_content" class="tab-content">
   <div id="columns" class="tab-pane fade">
      <%= render 'columns/column_fields', :f => f.object %>
   </div>
   <div id="widgets" class="tab-pane fade">
      <%= render partial:'widgets/list', locals:{widgets:@universe.widgets}%>
   </div>
   <div id="reports" class="tab-pane fade">
   </div>
</div>
<%end%>
<script>
$('#my_tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#my_tab a:first').tab('show')
</script>
