<div id="sidebar-wrapper">
    <%= menu_group(class:'sidebar-nav') do %>
        <%#= menu_divider %>
        <%= drop_down("Panels") do %>
          <% Panel.all.each do |panel|%> 
            <%= menu_item panel.name, edit_panel_path(panel) %>
          <%end%>
          <%= menu_item "+ Novo panel", new_panel_path %>
        <% end %>
        <%= drop_down("Reports") do %>
          <%# Report.all.each do |report|%> 
            <%#= menu_item report.name, edit_report_path(report) %>
          <%#end%>
          <%#= menu_item "+ Novo report", new_report_path %>
        <% end %>
    <% end %>
</div>
