<!DOCTYPE html>
<html>
<head>
  <title>Multiverse</title>
  <%= stylesheet_link_tag "mini-bi/application", :media => "all", debug: true %>
  <%= javascript_include_tag "mini-bi/application", debug: true %>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header'%>
  <div id='wrapper'>
    <%= render :partial => 'layouts/sidebar'%>
    <div id='page-content-wrapper'>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
